<div fxLayout="row wrap" fxLayoutGap="10px grid" style="padding-top: 2%; padding-left: 10%;">
    <div class="notes" *ngFor="let note of NoteList | searchpipe : searchWord" > <!-- | searchpipe : Search -->
        
        <div appearance="fill" class="discard" >
            <mat-card class="card"  [style.background]="note.color" (updateEvent)="receiveMsgIconsToDisplay($event)" >
                <img class="pin" src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48.svg">
                <mat-card-title   (click)="openDialog(note)">
                    <div class="textArea">
                        {{note.title}}
                    </div>
                </mat-card-title>
                <mat-card-content >
                    <div class="textArea">
                        <p (click)="openDialog(note)">{{note.note}}</p>
                    </div>
                      
                   
                </mat-card-content>
                <div class="icondiv" FxLayoutAlign="space-between centre">
                    <app-icons [notecard]="note" (displaytoIcons)="receiveMsgIconsToDisplay($event)" ></app-icons>
                </div>
            </mat-card>
        </div>
    </div>
</div>